
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
            <div class="logo-img">
                <img src="assets/img/torah-white-256.png"/>
            </div>
            Lessons
        </a>
    </div>
    <ul class="nav responsive-nav">
        <li routerLinkActive="active open" *ngFor="let header of menuHeaders" class="keepopen {{header.class}}">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <span>{{header.marker}}</span>
                <p>
                    {{header.title}}
                    <b class="caret"></b>
                </p>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li routerLinkActive="active" *ngFor="let item of header.items" class="{{item.class}}">
                    <a [routerLink]="[item.path]">
                        <i class="{{item.icon}}"></i>
                        <p>{{item.title}}</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
