<div class="main-content">
  <table class="table" style="margin: 10px; width: 600px">
    <tbody>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Hebrew Name</th>
        <th><a href="https://en.wikipedia.org/wiki/Modern_Hebrew" title="Modern Hebrew">Modern Hebrew</a><br>pronunciation</th>
        <th><a href="https://en.wikipedia.org/wiki/Yiddish" title="Yiddish">Yiddish</a> / <a href="https://en.wikipedia.org/wiki/Ashkenazi_Hebrew" title="Ashkenazi Hebrew">Ashkenazi</a><br>pronunciation</th>
      </tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">א</span></td>
    <td><a href="https://en.wikipedia.org/wiki/Aleph" title="Aleph">ʼAlef</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">אָלֶף</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ʔalɛf/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ʔaləf/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">בּ</span></td>
    <td rowspan="2"><a href="https://en.wikipedia.org/wiki/Bet_(letter)" title="Bet (letter)">Bet</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">בֵּית</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/bet/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/bɛɪs/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/bɛɪz/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ב</span></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">בֵית</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/vet/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/vɛɪs/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/vɛɪz/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ג</span></td>
    <td><a href="https://en.wikipedia.org/wiki/Gimel" title="Gimel">Gimel</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">גִּימֵל</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈɡimel/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈɡiməl/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ד</span></td>
    <td><a href="https://en.wikipedia.org/wiki/Dalet" title="Dalet">Dalet</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">דָּלֶת</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈdalɛt/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈdalɛd/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈdaləd/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈdaləs/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ה</span></td>
    <td><a href="https://en.wikipedia.org/wiki/He_(letter)" title="He (letter)">He</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">הֵא</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/he/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/hej/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/hɛɪ/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ו</span></td>
    <td><a href="https://en.wikipedia.org/wiki/Waw_(letter)" title="Waw (letter)">Vav</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">וָו</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/vav/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/vɔv/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ז</span></td>
    <td><a href="https://en.wikipedia.org/wiki/Zayin" title="Zayin">Zayin</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">זַיִן</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈzajin/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈza.in/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈzajin/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ח</span></td>
    <td><a href="https://en.wikipedia.org/wiki/Heth" title="Heth">Het</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">חֵית</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/χet/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/χɛs/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ט</span></td>
    <td><a href="https://en.wikipedia.org/wiki/Teth" title="Teth">Tet</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">טֵית</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/tet/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/tɛs/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">י</span></td>
    <td><a href="https://en.wikipedia.org/wiki/Yodh" title="Yodh">Yod</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">יוֹד</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/jod/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/jud/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/jud/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">כּ</span></td>
    <td rowspan="4"><a href="https://en.wikipedia.org/wiki/Kaph" title="Kaph">Kaf</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">כַּף</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/kaf/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/kɔf/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">כ</span></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">כַף</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/χaf/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/χɔf/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ךּ</span></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">כַּף סוֹפִית</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/kaf sofit/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈlaŋɡə kɔf/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ך</span></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">כַף סוֹפִית</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/χaf sofit/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈlaŋɡə χɔf/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ל</span></td>
    <td><a href="https://en.wikipedia.org/wiki/Lamedh" title="Lamedh">Lamed</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">לָמֶד</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈlamɛd/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈlaməd/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">מ</span></td>
    <td rowspan="2"><a href="https://en.wikipedia.org/wiki/Mem" title="Mem">Mem</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">מֵם</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/mem/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/mɛm/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ם</span></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">מֵם סוֹפִית</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/mem sofit/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈʃlɔs mɛm/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">נ</span></td>
    <td rowspan="2"><a href="https://en.wikipedia.org/wiki/Nun_(letter)" title="Nun (letter)">Nun</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">נוּן</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/nun/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/nun/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ן</span></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">נוּן סוֹפִית</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/nun sofit/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈlaŋɡə nun/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ס</span></td>
    <td><a href="https://en.wikipedia.org/wiki/Samekh" title="Samekh">Samekh</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">סָמֶך</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈsamɛχ/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈsaməχ/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ע</span></td>
    <td><a href="https://en.wikipedia.org/wiki/Ayin" title="Ayin">ʻAyin</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">עַיִן</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ʕajin/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ʕa.in/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ʕajin/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">פּ</span></td>
    <td rowspan="3"><a href="https://en.wikipedia.org/wiki/Pe_(Semitic_letter)" title="Pe (Semitic letter)">Pe</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">פֵּא, פה</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/pe/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/pej/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/pɛɪ/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">פ</span></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">פֵא, פה</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/fe/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/fej/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/fɛɪ/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ף</span></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">פֵּא סוֹפִית,<br>פה סופית</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/pe sofit/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/pej sofit/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈlaŋɡə fɛɪ/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">צ</span></td>
    <td rowspan="2"><a href="https://en.wikipedia.org/wiki/Tsade" title="Tsade">Tsadi</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">צַדִי, צדיק</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈtsadi/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈtsadi/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈtsadək/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ץ</span></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">צַדִי סוֹפִית,<br>צדיק סופית</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈtsadi sofit/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈlaŋɡə ˈtsadik/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ˈlaŋɡə ˈtsadək/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ק</span></td>
    <td><a href="https://en.wikipedia.org/wiki/Qoph" title="Qoph">Qof</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">קוֹף</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/kuf/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/kof/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/kuf/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ר</span></td>
    <td><a href="https://en.wikipedia.org/wiki/Resh" title="Resh">Resh</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">רֵישׁ</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ʁeʃ/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ʁɛɪʃ/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">שׁ</span></td>
    <td rowspan="2"><a href="https://en.wikipedia.org/wiki/Shin_(letter)" title="Shin (letter)">Shin</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">שִׁין</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ʃin/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ʃin/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">שׂ</span></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">שִׂין</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/sin/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/sin/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">תּ</span></td>
    <td rowspan="2"><a href="https://en.wikipedia.org/wiki/Taw" title="Taw">Tav</a></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">תּו</span>
    </td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/tav/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/taf/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/tɔv/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/tɔf/</span>
    </td></tr>
    <tr>
    <td style="font-size:200%;"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">ת</span></td>
    <td><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r886049626"><span class="script-hebrew" style="font-size: 115%;" dir="rtl">תו</span>
    </td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/θav/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/θaf/</span></td>
    <td><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/sɔv/</span>, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/sɔf/</span>
    </td></tr>
  </tbody>
</table>
</div>